// colors
$basic-white: #ffffff;
$basic-black: #000000;
$accent: #0ad9c6;
$accent-hover: #00aa99;
$dark-bg: #222222;
$border-light: #c9ccd4;
$basic-dark: #1c1c1c;
$menu-dark: #48494d;
$menu-light-bg: #f6f6f6;
$menu-close: #141517;
// viewports
$desktop-width-only: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
// z-index
$zindex-menu-button: 110;
$zindex-menu: 100;
